html, body{
	background-color: #fffff0;
	color: #242822;
}

.current{
    font-weight: bold;
}
#map {
    padding-bottom: 100vh;
}

#donateb {
    width: auto;
}

.button-group{
	 padding: 16px;
	 font-size: 20px;
	 border: none;
	 cursor: pointer;
	 position: relative;
   display: inline-block;
}
#filters {
	width: 210px;
}
.filter label {
	padding-left: 5px;
    width: calc(100% - 28px);
    box-sizing: border-box;
}

h1, h2, h3{
  text-align: center;
}
h1{
	color: #fffff0;
	font-family: 'Playfair Display', serif;
    font-weight: 700;
    line-height: 2.8rem;
    font-size: 2.8rem;
    margin: 0 0 43px 0;
    text-shadow: 1px 1px 10px black;
	padding: 40px;
}
h2{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    font-size: 1.3rem;
    line-height: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 40px 0 23px 0;
}
h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2rem;
    line-height: 1.2rem;
    text-transform: uppercase;
    margin: 8px 20px 4px 0;
    text-align: left;
	font-weight: 600;
}
input:required, textarea:required {
    border: red solid 1px;
}
.loginBox input:required{
	border: black solid 1px;
}
.loginBox{
	max-width: 1000px;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
	margin-top: 40px;
}
.navbar{
	background-color: #fffff0;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: normal;
    font-size: 21px;
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: 2px;
	padding-left: 40px;
	padding-right: 40px;
}
.navbar-brand{
	padding-top: 9px;
	padding-bottom: 9px;
}
.navbar a.nav-link{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

    color: #485a40;
    border-bottom: 3px solid #485A3F;
    border-top: 1.5px solid #485A3F;
p{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 23px;
    margin: 0 0 12px 0;
}

.admin header,#readmore, .content{
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 40px;
  clear: both;
}

.banner{
  background-image:url("../../images/banner.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  background-position: 50% 45%;
}
img {
    width: 33.33%;
    height: auto;
    margin-right: 15px;
    margin-bottom: 15px;
    float: left;
}

#nearbyhis img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

footer {
    padding: 10px 40px;
    text-align: center;
}

input, textarea{
    width: 100%;
    max-width: 500px;
}

input[type="submit"]{
    min-width: 150px;
    max-width: none;
    width: auto;
}

input[type="radio"], input[type="checkbox"] {
    min-width: 0px;
    max-width: none;
    width: auto;
		margin-left: 10px;
}

.dropdownmenu {
	margin-left: 20px;
}
footer{
	clear: both;
	background-color: #242822;
	color: #fffff0;
}

.pins:nth-child(even) {
    padding-left: 20px;
	clear: right;
}
.pins:nth-child(odd) {
    padding-right: 20px;
	clear: left;
}
.pins {
    width: 50%;
    float: left;
    box-sizing: border-box;
	text-align: justify;
}
.pins img{
	width: 100%;
}
a{
	color: green;
}
a:hover, a:active, a:focus{
	opacity: .8;
	color: green;
	text-decoration: none;
}
.button a{
	color: green;
}
.button a:hover, .button a:active, .button a:focus{
	opacity: 1;
	color: green;
	text-decoration: none;
}
.button{
    border-radius: 4px;
    border: 2px green solid;
    width: auto;
    display: inline;
    padding: 2px 16px 6px;
}
.button:hover, .button:active, .button:focus{
    box-shadow: inset 1px 1px 7px 0px grey;
	cursor: pointer;
}

.admin header h2 {
    display: inline-block;
	margin: 8px 0;
}

.admin header .button{
	float: right;
}

input:read-only {
    background: lightgray;
}
.error{
	margin-top: 10px;
	color: red;
}
.filters-row .col-lg-12{
	position: relative;
    bottom: -60px;
    z-index: 1;
    margin-left: 10px;
}
.filters-row .btn-sm {
    padding: .5rem 1rem;
    font-size: 1.5rem;
    border-radius: .2rem;
    height: 50px;
	box-shadow: 1px 1px 7px black;
	font-family: 'Roboto', sans-serif;
}
.filters-row .btn-sm:hover {
	cursor: pointer;
}
.filters-row .button-group {
	padding: 0;
}


@media only screen and (max-width: 740px) {
    img {
		width: 100%;
		margin: 0 0 10px 0;
		float: none;
	}
	h1{
		font-size: 2.2rem;
	}
	.admin header, .navbar, #readmore, .content, footer, h1{
		padding-left: 15px;
		padding-right: 15px;
	}
	.pins:nth-child(even), .pins:nth-child(odd) {
		padding: 0;
	}
	.pins {
		width: 100%;
		float: left;
		clear: none;
		box-sizing: border-box;
	}
}
